# from my.telegram.org/apps
API_ID=38412141
API_HASH=9d1004987f9a94df82714a74c1ca283e

# from @BotFather on telegram
BOT_TOKEN=8825667710:AAHtmaIecfzxfSS6y-aIQ8MkzP75lUiBMII
LOGGER_ID=-1002894650288

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://Likhith:Likhithbots@likhith.jm3wayg.mongodb.net/?retryWrites=true&w=majority&appName=likhith

OWNER_ID=6625458799

# pyrogram session from @StringFatherBot on telegram
SESSION=BQJKH20AQ4-67eWH_vq4CIZL8x87HVcSk-DJcfB57wfp4zs7EBrmQmuqZAyr1O3Gniq0GPLX4Y9DGd69tIhHvPA5IGWPiL6xkc6J4iMhQ_OJ9dNnkzwZObWfg88XH_z8UIfx62Uga6BsqXzb78YrwnMA2Ri09Cft33qLdMVAZBVovb30fS6xszavY9eKMJZdINFd6YGg5rsqIMqEzcVaeYOQFaTxS-zn5Nfhsqv1WtQpqbKgHDTPymmvqib08ZFWw6xKTyKV8uhlRMJWH_TY5QtVgIhLXnegNl_j850FQeswiQq0ZZ6D5KZJthsyKNsLrNLeRR_iE_u2akaxjSDCvtGsVKo1twAAAAFhz55aAA
